In [1]:
import pandas as pd
import numpy as np

In [7]:
dataset=pd.read_csv('House_Prices.csv')

In [8]:
dataset.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [9]:
from sklearn.model_selection import train_test_split 
from sklearn import linear_model

In [26]:
X = dataset.iloc[:,[0,2]]
Y = dataset.iloc[:,[1]]

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=42,test_size=0.25)

In [28]:
model = linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [29]:
z=model.predict(X_test)

In [30]:
model.score(X_test,Y_test)

0.19399082231810127